body {
  background: #ffffff;
  padding: 0;
  margin: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


.recipe-thumbnail {
  min-width: 200px;
  object-fit: contain;
  border-radius: 20px;
}

.page-separator {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.recipes-list {
  justify-content: center;
  margin: 40px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.recipes-list > div {
  padding: 20px;
  flex: 1 1 150px;
}

.recipe-background {
  background-color: #ffffff;
  padding: 5px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  width: 200px;
  height: 200px;
}

.recipe-background img {
  width: 200px;
}

.recipe-background p {
  height: 40px;
}

.filters {
  min-width: 220px;
}

.text-input {
  margin-right: 10px;
}

.recipe-background-large {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  min-width: 600px;
  margin: 20px;
}

.home-button {
  width: 100px;
  border-radius: 20px;
  padding: 10px;
  background-color: #D2FFC7;
  font-size: 40px;
  margin-bottom: 20px;
  height: 40px;
}

.recipe-page-separator {
  display: flex;
}

.instructions {
  min-width: 250px;
  max-width: 1000px;
}

.summary {
  max-width: 1800px;
  padding: 0;
}

.carousel {
  display: flex;
  justify-content: center;
  margin: 0 10px 0 10px;
}

.carousel div {
  padding: 0;
}

.recipe-page-body {
  display: flex;
  justify-content: center;
}

.recipe-page-body div {
  max-width: 1337px;
  padding: 0 10px 0 10px;
}

.page-buttons {
  display: flex;
  justify-content: center;
  margin: auto;
}

.page-buttons > button {
  margin-left: 5px;
  margin-right: 5px;
}

.page-backing {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer > a, a:hover, a:focus, a:active { 
  color: revert;
  text-decoration: underline;
}

footer {
  text-align: center;
}

.top {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 60px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
}

.search {
  margin: auto;
}

.search form {
  min-width: 400px;
}

.search form input[type="text"] {
  width: 70%;
}